@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-app-rgb: 244, 245, 247;
    --color-primary-900: 74, 109, 255;
    --color-primary-800: 92, 124, 255;
    --color-primary-700: 110, 138, 255;
    --color-primary-600: 128, 153, 255;
    --color-primary-500: 146, 167, 255;
    --color-primary-400: 164, 182, 255;
    --color-primary-300: 183, 197, 255;
    --color-primary-200: 201, 211, 255;
    --color-primary-100: 219, 226, 255;
    --color-primary-50: 228, 233, 255;
    --color-secondary-900: 42, 45, 83;
    --color-secondary-800: 63, 66, 100;
    --color-secondary-700: 85, 87, 117;
    --color-secondary-600: 106, 108, 135;
    --color-secondary-500: 127, 129, 152;
    --color-secondary-400: 148, 150, 169;
    --color-secondary-300: 170, 171, 186;
    --color-secondary-200: 191, 192, 203;
    --color-secondary-100: 212, 213, 221;
    --color-secondary-50: 223, 223, 229;
    --color-success: 0, 192, 115;
    --color-warning: 255, 153, 0;
    --color-error: 255, 71, 87;
    --color-red-500: 239, 68, 68;
    --color-red-300: 252, 165, 165;
  }
}

@layer components {
  .textField__input {
    @apply w-full py-3 px-4 rounded-xl bg-gray-100 text-secondary-900 border border-gray-100 outline-none duration-200 transition-all ease-in-out hover:border-primary-300 focus:outline-none focus:border-primary-300 focus:shadow-input-focus focus:bg-white;
  }
  .btn {
    @apply px-2 py-1 font-bold rounded-2xl transition-all duration-300;
  }
  .btn--primary {
    @apply px-4 py-3 bg-primary-900 text-white hover:bg-primary-800 shadow-lg shadow-primary-300;
  }
  .table__th {
    @apply border-b-2 border-b-gray-500 font-medium p-3 pr-8 pb-3 text-right;
  }
  .table__td {
    @apply border-b  border-b-gray-300 p-3 pr-8 pb-3 text-right;
  }
  .badge {
    @apply whitespace-nowrap px-3 py-1 rounded-xl;
  }
  .badge--primary {
    @apply bg-primary-900 text-white;
  }
  .badge--secondary {
    @apply bg-secondary-600 text-white;
  }
  .badge--success {
    @apply bg-green-600 text-white;
  }
  .badge--error {
    @apply bg-rose-600 text-white;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--vazir-font);
  min-height: 100vh;
  user-select: none;
  background-color: var(--background-app-rgb);
}
